.header-inner{
            margin-left: auto;
            margin-right: auto;
            position: relative;border-bottom-left-radius: 2em;
            border: 2px solid;
            width: 60%;
            background-color: lightblue;
        }
        .blog-title {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            text-align: center;
            font-family: Papyrus, fantasy;
            font-weight: 700
        }
        .blog-desc {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
            font-size: 30px;
        }
        .blog-posts {
            background-color: #C7C7C7;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-top-right-radius: 4em;
            border: 2px solid;
            width: 60%;
            padding-left: 20px;
        }
        .posted-date {
            line-height: 200%;
            display: inline-block;
            color: #9E474B;
        }
        .author {
            display: inline-block;
            color: #9E474B;
            font-size: 10px;
        }
        #blog-post-list {
            border: 2px solid green;
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;

        }
        .blog-post-title {
            font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
            font-weight: 500;
            font-size: 15px;
            display: inline-block;
        }
        #update {
            display: inline-block;
        }
        h6,h5{
            margin:0;
        }
        h3{
            margin-top: 20px;
            margin-bottom: 0px;
        }